@import url('https://fonts.googleapis.com/css?family=Cookie|Lato:300,400,700,900|Playfair+Display:400,900|Poppins:300,400,500,700,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
/* 
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Cookie', cursive; */
}

body{
    background-color: #efefef;
}


/* heading content */
.heading {
    margin-top: 2rem;
}
.heading h3{
    color: gray;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.heading .line{
    background-color: gray;
    width: 100%;
    height: .1rem;
    margin-bottom: 3rem;
}
/* heading content */



/* img and search */
#imgs{
    background-image: url(../img/cart.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;
    position: relative;
}
#imgs .overlay{
    background-color: rgba(0, 0, 0, 0.149);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
#imgs .overlay-1{
    top: 30%;
    position: absolute;
}
#imgs .overlay-1 .text-search{
    width: 90%;
}
#imgs .overlay-1 .text-search h3{
    color: white;
    text-shadow: 1px 1px 10px #000;
    font-size: 3em;
    font-weight: bold;
}
#imgs .overlay-1 .text-search p{
    color: #f7be16;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#imgs .overlay-1 .search{
    display: inline-block;
}



/* imgandn search end */


/* category slider */
#category-slider{
    margin: 2rem 0;
}
#category-slider .cat-slider .cat-card{
   height: 250px; 
   width: 240px;
   background-color: white;
   padding: 1rem .5rem 2rem .5rem;
}
#category-slider .cat-slider .cat-card.border{
    border: .5rem solid transparent !important;
}
#category-slider .cat-slider .cat-card .text h4{
    font-weight: bold;
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
#category-slider .cat-slider .cat-card .text p{
    font-size: .9em;
    color: #f7be16;
}

#category-slider .cat-slider .cat-card .cat-image img{
    height: 70px;
    width: 100%;
    border: 1px solid gray;
    margin: .1rem;
    transition: all 300ms ease-in-out;
}
#category-slider .cat-slider .cat-card .cat-image img:hover{
    border: 1px solid #f7be16;
}

#category-slider .cat-slider .cat-card .cat-image div{
    flex: 1;
}
#category-slider .cat-slider .cat-card .view{
    margin-top: .3rem;
    margin-left: .1rem;
}
#category-slider .cat-slider .cat-card .view a{
    color: #f7be16;
    border: .1rem solid #f7be16;
    padding: .2rem 1rem;
    text-decoration: none;
    font-size: .9em;
    width: 50%;
    transition: all 300ms ease-in-out;
}
#category-slider .cat-slider .cat-card .view a:hover{
    background-color: #f7be16;
    color: white;
    border: .1rem solid #f7be16;
}
/* end of category slider */

/* priducts section */
#home-products .product-grid{
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    position: relative;
    border: 4px solid white;
    margin-bottom: 2rem;
}

 .more .See-More{
    border: .1rem solid #f7be16;
    color: #f7be16;
    padding: .3rem 2.5rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
 .more .See-More:hover{
    background-color: #f7be16;
    color: white;
}


#home-products .product-grid:before{
content: '';
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
z-index: 1;
transition: all 0.3s ease 0s;
}


#home-products .product-grid:hover:before{
    background-color: rgba(0, 0, 0, 0.45);
}


#home-products .product-grid .product-class{
    overflow: hidden;
    position: relative;

}

#home-products .product-grid .product-class a{
    display: block;

}
#home-products .product-grid .product-class img{
    width: 100%;
    height: 250px;
}
#home-products .product-discount-label{
    color: white;
    background-color:  rgba(128, 128, 128, 0.534);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 22;
}



#home-products .product-grid .social{
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    text-align: center;
}

#home-products .product-grid .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
    
}

#home-products .product-grid .social li:nth-child(2){
    transition-delay: 0.05s;
}
#home-products .product-grid .social li:nth-child(3){
    transition-delay: 0.13s;
}

#home-products .product-grid .social li:nth-child(4){
    transition-delay: 0.17s;
}

#home-products .product-grid:hover .social li{
    opacity: 1;
    transform: translateY(0);
}


#home-products .product-grid .social li a{
    color: #000;
    background-color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}


#home-products .product-grid .social li a:hover{
    color: white;
    background-color: #f7be16;
    transition: .6s ease-in-out;
}


#home-products .product-grid .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;

}
#home-products .product-grid .title{
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 700;
}
#home-products .product-grid .title a{
    color: #000;
    text-decoration: none;

}

#home-products .product-grid .title a:hover{
    color: #f7be16;
    transition: .4s ease-in-out;
}


#home-products .product-grid  .price{
    color: #f7be16;
}

/* products section html and css end */


/* background texts */

#backgruond-text{
    margin: 3rem 0;
    padding: 7rem 0;
    background-image:linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10)), url(../img/cart.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.411);
}
#backgruond-text h3{
    color: white;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 15px rgba(44, 62, 80, 0.424);
}

#backgruond-text a{
    padding: .4rem 3.2rem;
    color: #efefef;
    background-color: #f7be16;
    text-decoration: none;
    border: .2rem solid #efefef;
}
#backgruond-text a:hover{
    transition: .5s ease-in-out;
    color: #f7be16;
    background-color: #efefef;
    border: .2rem solid #f7be16; 
}

/* end of the current section */



/* product slider */
#slider-carousel{
    margin-top: 2rem;
}
#slider-carousel .carousel-product{
    position: relative;
    height: 50vh;

}

#slider-carousel .carousel-product img{
    height: 50vh;
    width: 100%;
}
#slider-carousel .carousel-product .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.136);
}
#slider-carousel .carousel-product .overlay .text{
    position: absolute;
    top: 40%;
    left: 5%;
}

#slider-carousel .carousel-product .overlay .text h4{
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px #000;
}

#slider-carousel .carousel-product .overlay .text p{
    font-size: 2.5em;
    font-weight: bold;
    color: #f7be16;
    /* text-shadow: 1px 1px 5px  white; */
}

#slider-carousel .carousel-product .overlay .text a{
    color: #f7be16;
    padding: .5rem 2.5rem;
    border: .1rem solid #f7be16;
    background-color: transparent;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
#slider-carousel .carousel-product .overlay .text a:hover{
    background-color: #f7be16;
    color: white;
}


@media only screen and (max-width: 600px) {
    #slider-carousel .carousel-product .overlay .text h4{
        font-size: 1.5rem;
    }
    #slider-carousel .carousel-product .overlay .text p{
        font-size: 1rem;
        /* text-shadow: 1px 1px 5px  white; */
    }
    


    #slider-carousel .carousel-product .overlay .text{
        position: absolute;
        top: 35%;
        left: 5%;
    }

    #slider-carousel .slider{
        width: 90%;
        margin: 0 auto;
    }
    #category-slider .cat-slider{
        width: 90%;
        margin: 0 auto;
    }
    #sub .sub{
        width: 100%!important;
    }
} 

/* companny assoc css */

.company-logo{
    background-color: white;
    padding: .1rem 0;
    text-align: center;
    margin: 2rem 0;
}
.company-logo .c-image img{
    height: 30px;
    margin: 1rem auto;
}


/* top selling css */
#top-selling .topselling{
    margin-bottom: 1rem;
}

#top-selling .topselling .topselling-images{
    margin-right: 1rem;
}

#top-selling .topselling .topselling-images img{
    height: 70px;
    width: 70px;
    border: .1rem solid #f7be16;
}

#top-selling .topselling .topselling-text h4{
    font-size: 1em;
    margin-bottom: 0;
    color: #f7be16;
    font-family: 'Poppins', sans-serif;
}
#top-selling .topselling .topselling-text a{
    text-decoration: none;
    color: gray;
    font-size: 1em;
    font-weight: bold;
}
#top-selling .topselling .topselling-text span{
    font-size: .8em;
    color: #f7be16;
    
}

/* scubscirbe css */

#sub  .sub{
    width: 70%;
    margin: 4rem auto;
}
#sub  .sub .text h4{
    color: gray;
    font-weight: bold;
    font-size: 2em;
}
#sub  .sub .text p{
    color: #f7be16;
    font-size: 1em;
    font-weight: bold;
}
#sub  .form-control:focus {
    box-shadow: none;
  }
  
  #sub .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  #sub .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  #sub .btn-link{
      text-decoration: none;
      color: #f7be16;
  }
  #sub  .form-control{
    border-radius: 50px 0px 10px 51px;
-moz-border-radius: 50px 0px 10px 51px;
-webkit-border-radius: 50px 0px 10px 51px;
border: 0px solid #000000;
  }













  @media (max-width: 767.98px) {
    #top-selling .topselling{
        display: flex;
        justify-content: center!important;
    }
   }
