@import url('https://fonts.googleapis.com/css?family=Cookie|Lato:300,400,700,900|Playfair+Display:400,900|Poppins:300,400,500,700,900&display=swap');
:root {
    --g-storex1: #25D366;
    --g-storex2: rgb(235,99,25);
    --g-storex3: rgb(92,92,92);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
/* 
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Cookie', cursive; */
}

body{
    background-color: #efefef;
    padding-top: 140.61px;
}


/* heading content */
.heading {
    margin-top: 2rem;
}
.heading h3{
    color: gray;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.heading .line{
    background-color: gray;
    width: 100%;
    height: .1rem;
    margin-bottom: 3rem;
}
/* heading content */
/* navigation section */
#navigation{
    background-color: #f1f2f6;
    box-shadow: 1px 1px 2px var(--g-storex3);
}
#navigation .header{
height: 50px;
}
#navigation .header img{
height: 50px;
padding: .2rem 1rem 0 1rem;


}

@media (max-width: 767.98px) {
    #navigation .header .center{
        justify-content: center!important;
    }
 }
#navigation .header ul{
    display: flex;
    font-family: 'Poppins', sans-serif;
}


#navigation .header .d-flex{
    line-height: 50px;
}
#navigation .header ul li{
    list-style: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

#navigation .header ul li a.sign-up{
    padding: .3rem 1rem;
    border: .1rem solid  var(--g-storex1);
    text-decoration: none;
    background-color:  var(--g-storex1);
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
}

#navigation .header ul li a.sign-in{
    padding: .3rem 1rem;
    border: .1rem solid  var(--g-storex1);
    text-decoration: none;
    color: var(--g-storex1);
    font-weight: bold;
    font-size: .9rem;
}
#navigation .header ul li a.cart{
    padding: .3rem 1rem;
    border: .1rem solid var(--g-storex1);
    text-decoration: none;
    color: var(--g-storex1);
    font-weight: bold;
    font-size: .9rem;
}
#navigation .header ul li .fa.fa-shopping-cart{
    margin-right: .5rem;
}


/* search */
#search{
    margin-top: .3rem;
}
.input-group-prepend{
    border-radius: 0!important;
}
.focus-remove:focus{
   outline: none!important;
   box-shadow: none!important;
}
.focus-remove{
   border: .1rem solid  var(--g-storex1);
   border-radius: none!important;

}
#search .custom-select, #search .input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
   border-radius: 0!important;
}

#search .custom-select, #search .input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text{
   background-color:  var(--g-storex1);
   color: white;
}


/* end of search */

.megamenu {
    position: static;
  }
  
  .megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }
  #navbar{
      margin-top: -.2rem;
  }
  #navbar .navbar .nav-item a{
      font-size: .8rem;
      transition: all 300ms ease-in-out;
  }
  #navbar .navbar .nav-item a:hover{
      color: var(--g-storex1);
  }

  .navbar-light .navbar-toggler {
    border-color: transparent!important;
}
.navbar-light .navbar-toggler:focus{
    outline: none!important;
    border:  none!important;
}

/* end of navigation section  */
/* img and search */
#imgs{
    background-image: url(../img/cart.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 55vh;
    position: relative;
}
#imgs .overlay{
    background-color: rgba(0, 0, 0, 0.149);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}
#imgs .overlay-1{
    top: 30%;
    position: absolute;
}
#imgs .overlay-1 .text-search{
    width: 90%;
}
#imgs .overlay-1 .text-search h3{
    color: white;
    text-shadow: 1px 1px 10px #000;
    font-size: 3em;
    font-weight: bold;
}
#imgs .overlay-1 .text-search p{
    color: var(--g-storex1);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#imgs .overlay-1 .search{
    display: inline-block;
}



/* imgandn search end */


/* category slider */
#category-slider{
    margin: 2rem 0;
}
#category-slider .cat-slider .cat-card{
   height: 250px; 
   width: 240px;
   background-color: white;
   padding: 1rem .5rem 2rem .5rem;
}
#category-slider .cat-slider .cat-card.border{
    border: .5rem solid transparent !important;
}
#category-slider .cat-slider .cat-card .text h4{
    font-weight: bold;
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
#category-slider .cat-slider .cat-card .text p{
    font-size: .9em;
    color: var(--g-storex1);
}

#category-slider .cat-slider .cat-card .cat-image img{
    height: 70px;
    width: 100%;
    border: 1px solid gray;
    margin: .1rem;
    transition: all 300ms ease-in-out;
}
#category-slider .cat-slider .cat-card .cat-image img:hover{
    border: 1px solid var(--g-storex1);
}

#category-slider .cat-slider .cat-card .cat-image div{
    flex: 1;
}
#category-slider .cat-slider .cat-card .view{
    margin-top: .3rem;
    margin-left: .1rem;
}
#category-slider .cat-slider .cat-card .view a{
    color: var(--g-storex1);
    border: .1rem solid var(--g-storex1);
    padding: .2rem 1rem;
    text-decoration: none;
    font-size: .9em;
    width: 50%;
    transition: all 300ms ease-in-out;
}
#category-slider .cat-slider .cat-card .view a:hover{
    background-color: var(--g-storex1);
    color: white;
    border: .1rem solid var(--g-storex1);
}
/* end of category slider */

/* priducts section */
#home-products .product-grid{
    font-family: 'Playfair Display', serif;
    overflow: hidden;
    position: relative;
    border: 4px solid white;
    margin-bottom: 2rem;
}

 .more .See-More{
    border: .1rem solid var(--g-storex1);
    color: var(--g-storex1);
    padding: .3rem 2.5rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
 .more .See-More:hover{
    background-color: var(--g-storex1);
    color: white;
}


#home-products .product-grid:before{
content: '';
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
z-index: 1;
transition: all 0.3s ease 0s;
}


#home-products .product-grid:hover:before{
    background-color: rgba(0, 0, 0, 0.45);
}


#home-products .product-grid .product-class{
    overflow: hidden;
    position: relative;

}

#home-products .product-grid .product-class a{
    display: block;

}
#home-products .product-grid .product-class img{
    width: 100%;
    height: 250px;
}
#home-products .product-discount-label{
    color: white;
    background-color:  rgba(128, 128, 128, 0.534);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 22;
}



#home-products .product-grid .social{
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    text-align: center;
}

#home-products .product-grid .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
    
}

#home-products .product-grid .social li:nth-child(2){
    transition-delay: 0.05s;
}
#home-products .product-grid .social li:nth-child(3){
    transition-delay: 0.13s;
}

#home-products .product-grid .social li:nth-child(4){
    transition-delay: 0.17s;
}

#home-products .product-grid:hover .social li{
    opacity: 1;
    transform: translateY(0);
}


#home-products .product-grid .social li a{
    color: #000;
    background-color: #fff;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
}


#home-products .product-grid .social li a:hover{
    color: white;
    background-color: var(--g-storex1);
    transition: .6s ease-in-out;
}


#home-products .product-grid .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;

}
#home-products .product-grid .title{
    margin: 0 0 10px 0;
    font-size: 17px;
    font-weight: 700;
}
#home-products .product-grid .title a{
    color: var(--g-storex3);
    text-decoration: none;

}

#home-products .product-grid .title a:hover{
    color: var(--g-storex1);
    transition: .4s ease-in-out;
}


#home-products .product-grid  .price{
    color: var(--g-storex1);
}

/* products section html and css end */


/* background texts */

#backgruond-text{
    margin: 3rem 0;
    padding: 7rem 0;
    background-image:linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.10)), url(../img/cart.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.411);
}
#backgruond-text h3{
    color: white;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 15px rgba(44, 62, 80, 0.424);
}

#backgruond-text a{
    padding: .4rem 3.2rem;
    color: #efefef;
    background-color: var(--g-storex1);
    text-decoration: none;
    border: .2rem solid #efefef;
}
#backgruond-text a:hover{
    transition: .5s ease-in-out;
    color: var(--g-storex1);
    background-color: #efefef;
    border: .2rem solid var(--g-storex1); 
}

/* end of the current section */



/* product slider */
#slider-carousel{
    margin-top: 2rem;
}
#slider-carousel .carousel-product{
    position: relative;
    height: 50vh;

}

#slider-carousel .carousel-product img{
    height: 50vh;
    width: 100%;
}
#slider-carousel .carousel-product .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.136);
}
#slider-carousel .carousel-product .overlay .text{
    position: absolute;
    top: 40%;
    left: 5%;
}

#slider-carousel .carousel-product .overlay .text h4{
    font-size: 2.5em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px #000;
}

#slider-carousel .carousel-product .overlay .text p{
    font-size: 2.5em;
    font-weight: bold;
    color: var(--g-storex1);
    /* text-shadow: 1px 1px 5px  white; */
}

#slider-carousel .carousel-product .overlay .text a{
    color: var(--g-storex1);
    padding: .5rem 2.5rem;
    border: .1rem solid var(--g-storex1);
    background-color: transparent;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
#slider-carousel .carousel-product .overlay .text a:hover{
    background-color: var(--g-storex1);
    color: white;
}


@media only screen and (max-width: 600px) {
    #slider-carousel .carousel-product .overlay .text h4{
        font-size: 1.5rem;
    }
    #slider-carousel .carousel-product .overlay .text p{
        font-size: 1rem;
        /* text-shadow: 1px 1px 5px  white; */
    }
    


    #slider-carousel .carousel-product .overlay .text{
        position: absolute;
        top: 35%;
        left: 5%;
    }

    #slider-carousel .slider{
        width: 90%;
        margin: 0 auto;
    }
    #category-slider .cat-slider{
        width: 90%;
        margin: 0 auto;
    }
    #sub .sub{
        width: 100%!important;
    }
} 

/* companny assoc css */

.company-logo{
    background-color: white;
    padding: .1rem 0;
    text-align: center;
    margin: 2rem 0;
}
.company-logo .c-image img{
    height: 30px;
    margin: 1rem auto;
}


/* top selling css */
#top-selling .topselling{
    margin-bottom: 1rem;
}

#top-selling .topselling .topselling-images{
    margin-right: 1rem;
}

#top-selling .topselling .topselling-images img{
    height: 70px;
    width: 70px;
    border: .1rem solid var(--g-storex1);
}

#top-selling .topselling .topselling-text h4{
    font-size: 1em;
    margin-bottom: 0;
    color: var(--g-storex1);
    font-family: 'Poppins', sans-serif;
}
#top-selling .topselling .topselling-text a{
    text-decoration: none;
    color: gray;
    font-size: 1em;
    font-weight: bold;
}
#top-selling .topselling .topselling-text span{
    font-size: .8em;
    color: var(--g-storex1);
    
}

/* scubscirbe css */

#sub  .sub{
    width: 70%;
    margin: 4rem auto;
}
#sub  .sub .text h4{
    color: gray;
    font-weight: bold;
    font-size: 2em;
}
#sub  .sub .text p{
    color: var(--g-storex1);
    font-size: 1em;
    font-weight: bold;
}
#sub  .form-control:focus {
    box-shadow: none;
  }
  
  #sub .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  #sub .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  #sub .btn-link{
      text-decoration: none;
      color: #fff;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
  }
  #sub  .form-control{
    border-radius: 50px 0px 10px 51px;
-moz-border-radius: 50px 0px 10px 51px;
-webkit-border-radius: 50px 0px 10px 51px;
border: 0px solid #000000;
  }













  @media (max-width: 767.98px) {
    #top-selling .topselling{
        display: flex;
        justify-content: center!important;
    }
   }

   /* ***************************************************************************      Products page darkside                          ************************************************************************************************** */
#home-products .categories-p{

    margin: 1.6rem 0;
}


#home-products .categories-p .title{
    font-weight: bold;
    color: #aaa;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-bottom: .2rem solid gray;
    font-size: 1rem;
}
#home-products .categories-p .category-list{
    background-color: white;
    margin-top: 3rem;
    padding: 1rem 0
}

#home-products .categories-p .category-list ul li{
    list-style: none;
    padding-left: 1rem;

}

#home-products .categories-p .category-list ul li a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--g-storex1);
    transition: all 300ms ease-in-out;
}

#home-products .categories-p .category-list ul li a:hover{
    color: gray;

}

#home-products .categories-p .category-list .price-range{
    padding-left: 1rem;
    padding-right: 1rem;
}
#home-products .categories-p .category-list .price-range input{
    width: 100px;
    text-align: center;
}


/* foooter area  */
/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #252525;}
footer ul{	padding-left: 0;	list-style: none;}

/* Copy Right Footer */
.footer-copyright {	background: #222;	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}

/* Footer Top */
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
	Widgets 
====================== */
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: var(--g-storex1);  font-size: .8rem;}
.widget li a:hover{	color: #4b92dc; text-decoration: none; }
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 60%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;
font-weight: bold}

ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:var(--g-storex1);}
ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
.btn{background-color: var(--g-storex1); color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #4b92dc;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}
#footer  .f-link{
    color: white;
    text-decoration: none;
}
#footer .row p{
    font-size: .8rem;
}



/* end of footer area */

/* slider page with product singular  */



body{
    background-color: #efefef;
}


/* heading content */
.heading {
    margin-top: 2rem;
}
.heading h3{
    color: gray;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.heading .line{
    background-color: gray;
    width: 100%;
    height: .1rem;
    margin-bottom: 3rem;
}
.heading .line2{
    background-color: var(--g-storex2);
    width: 100px;
    height: .2rem;
    margin-bottom: 3rem;
}
/* heading content */


/* sliding carousel information darkside */

.products-slider{
    margin: 5rem 0;
}
.products-slider .p-wrap{
    border: .1rem solid gray;
    background: white;
}


.products-slider .sliders{
    width: 84.5%;
    margin: 1% auto;
}
.products-slider .sliders img{
    border: .1rem solid gray;
    transition: ease-out .3s;
}
.products-slider .sliders img:hover{
    border: .1rem solid #f7be16;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.52);
    transition: ease-in-out .3s;
}


button.slick-next.slick-arrow::before{
    color: gray!important;
}

button.slick-prev.slick-arrow::before{
    color: gray!important;
}

/* product details css */

.products-slider .p-details{
    margin-top: 2rem;
    border-top: .1rem solid gray;
    padding: 3%;
    margin-bottom: 2rem;

}
.products-slider .p-details{
    background-color: rgba(255, 255, 255, 0.442);
}

.products-slider .p-details h3{
    font-weight: bold;
    color: var(--g-storex1);
    font-family: 'Poppins', sans-serif;
}
.products-slider .p-details .location{
    font-weight: bold;
    font-weight: 90%;
    margin-top: 2%;
    color: var(--g-storex3);
}
.products-slider .p-details .location span{
    font-weight: 400;
    color: var(--g-storex1);
}
.products-slider .p-details p{
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
}
/* price */
.products-slider .p-price{
    background: rgba(255, 255, 255, 0.503);
    border-top: .1rem solid gray;
    text-align: center;
    padding: 1.5rem ;
    border-bottom:none;
}
.products-slider .p-price div small{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
    display: block;
    background: var(--g-storex1);
    border: .1rem solid gray;
    padding: .2rem 0;
    margin-bottom: .5rem;
    color: white;

}
.products-slider .p-price div h3{ 
    font-family: 'Cookie', cursive;
    color: gray;
    margin: 1.5rem 0;
    font-size: 2.9rem;
}

.products-slider .p-price a:nth-child(1){
    color: #000;
    border: .1rem solid gray;
    width: 100%;
    padding: .2rem;
    text-decoration: none;

}
.products-slider .p-price  a:nth-child(1) .fa{
    color: gray;   
    padding-right: .2rem;   
}
.products-slider .p-price a:nth-child(2) .fa{
    padding-right: .2rem;   
}
.products-slider .p-price  a:nth-child(2){
    color: #ffffff;
    border: .1rem solid gray;
    width: 100%;
    padding: .2rem;
    text-decoration: none;
    background-color: var(--g-storex1);
    transition: ease-in-out .6s;
}
.products-slider .p-price .d-flex a:hover:nth-child(2){
    color: gray;
    border: .1rem solid gray;
    width: 100%;
    padding: .2rem;
    text-decoration: none;
    background-color: white;
}

.products-slider .p-price .seller-id .pic{
    height: 95px;
    width: 100px;
    margin: 3rem auto;

}
.products-slider .p-price .seller-id .pic img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    border: .1rem solid var(--g-storex1);
}
.products-slider .p-price .seller-id .p-user h3{
    font-family: 'Cookie', cursive;
    color: gray;
    font-size: 2.9rem;
}
.products-slider .p-price .seller-id .p-user p{
    font-size: 90%;
    color: var(--g-storex1);
}


 
  .products-slider .p-price .seller-id .link{
      color: #000;
      border: .1rem solid gray;
      padding: .2rem 2rem;
      text-decoration: none;
      transition: ease-in-out .6s;
     display: block;
     
    font-family: 'Poppins', sans-serif;
  }

  .products-slider .p-price .seller-id .link:hover{
    color: white;
    border: .1rem solid gray;
    padding: .2rem 2rem;
    text-decoration: none;
    background-color: var(--g-storex1);
}
/* starts */
.star{
    color: goldenrod;
    font-size: 1rem;
    padding: 0 .1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  .stars::after{
      content: counter(rateme) '/5';
      color: goldenrod;
      font-size: .7em;

  }
  /* end of stars */
  .products-slider .pro-d .bg-white{
      padding: 1%;
  }

  .products-slider .pro-d p{
      color: gray;
      font-size: 1em;
      font-weight: bolder;
      color: var(--g-storex1);
  }




/* slider page with producr singuler */


/* shopping cart */

.shopping-cart{
    margin-top: 2rem;
}
.shopping-cart .table{
    font-family: 'Poppins', sans-serif;
}
.shopping-cart input[type=number]{
    width: 50px;
}
.color-change{
    color: #fa983a;
}
.shopping-cart .heading a.add-more{
    color: white;
    background-color: var(--g-storex1);
    padding: .3rem 3rem;
    border: .1rem solid var(--g-storex1);
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}

.shopping-cart .heading a.add-more:hover{
    background-color: transparent;
    color: var(--g-storex2);
}

/* contact us csss */

.contact-landing{
    background-image: linear-gradient(rgba(0,0,0,.500),rgba(0,0,0,.500)), url(../img/bathroom-cabinet-contemporary-1571462.jpg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: .3rem solid var(--g-storex2);
  }
  .contact-landing h3{
    color: var(--g-storex2);
    font-size: 3rem;
    font-weight: 700;
  }
    .contact-landing p{
  color: #fff;
  font-size: 1em;
  }

  /* ******************** contact us page************************* */
  /* contact us */
/* contact details from section */
.c-contact-form{
	padding: 4rem 0;
}

.form-spacing{
	padding-top: 3rem;
}
.feedback-input {
	color:white;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: transparent;
	border:2px solid var(--g-storex2);
	transition: all 0.3s;
	padding: .8rem;
	margin-bottom: 15px;
	width:100%;
	box-sizing: border-box;
	outline:0;
  }
  
  .feedback-input:focus {
	   border:2px solid var(--g-storex2); }
  
  textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
  }
  
  [type="submit"] {
	width: 100%;
	background:var(--g-storex2);
	border-radius:0;
	border:0;
	cursor:pointer;
	color:white;
	font-size:.8rem;
	padding-top:.5rem;
	padding-bottom:.5rem;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
	border: .2rem solid var(--g-storex2);
  }
  [type="submit"]:hover {
	   background:#fff;
	   color: var(--g-storex2);
	   border: .2rem solid var(--g-storex2);
	 }
/* right side form contact information */
.icons-detail{
	padding-top: 3rem;
}
.icons-detail i{
	color: var(--g-storex2);
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.icons-detail p{
	color: gray;
}
/* map-border */
.map-border{
	border-top: .5rem  solid var(--g-storex2);

}


/* about page */

#about-page{
    margin-top: .5rem;
    background: white;
    padding: 2rem 0;
}

#about-page .about-content{
    margin-top: 1rem;
}

#about-page .about-content .image img{
    width: 100%;
    height: 350px;
}

#about-page .about-content .text-1 h3{
    color: var(--g-storex2);
    font-weight: bold;
    font-size: 1.6rem;
    padding: .5rem 0;
    margin-top: 1rem;
}
#about-page .about-content .text-1  .line2{
    height: .2rem;
    width: 100px;
    background-color: var(--g-storex2);
    margin-bottom: 1rem;
}
#about-page .about-content .text-1 p{
    color: #222222;
    font-size: .9em;
}

#about-page .team-section{
    margin: 4rem auto;
}

#about-page .team-section img{
    width: 100%;
    height: 450px;;
}#about-page .team-section .text-body{
    padding: 3%;
}
#about-page .team-section .text-body h3{
    color: var(--g-storex2);
    font-size: 1.5rem;
    font-weight: bolder;
}#about-page .team-section .text-body{
    font-weight: light;
    font-size: .8rem;
}